<br/><br/>
Recieving from user input: {{getTrainerdetail.city}}


<!--Recieving native place from user input component {{nativePassed}}

<input type="text" name="" [(ngModel)]="nativePassed"  id=""placeholder="native" >
<button (click)="postNative()">Post native</button>-->
<br/><br/>
<hr>
<!--Receiving from user input : {{userEmail}}

<br />

PAN Number : <input type="text" [(ngModel)] = "panNumber" />
<p>{{panNumber}}</p>
<button (click)="sendPanNumber()">POST PAN NUMBER</button>
<br/>
<br/>
Hobbies : 
<select name="hobby" multiple [(ngModel)] ="hobbiesSelected">
    <option value="Arts">Arts</option>
    <option value="games">Games</option>
    <option value="Music">Music</option>
    <option value="cooking">Cooking</option>
</select>
{{hobbiesSelected}} 

<br/><br/>
{{get}}
<button (click)="sendHobbies()">Post hobbies</button>-->
