<h2>Passing a class to the child component</h2>
Value in parent component:{{getStudentPlace.place}}
<detail [StudentPlace]="getStudentPlace"></detail>


<!--<h2>Passing same variable for @input and @output</h2>
Native: <input type="text" [(ngModel)]="nativePassed" placeholder="native"/>
{{nativePassed}}

<detail [(nativePassed)]="nativePassed" (myEvent)="myMethod($event)"></detail>-->
<!--Email : <input type="text" [(ngModel)] = "email" />
{{email}}
<br />
<br/>
One of the product details: {{ getProductsDetail }}
<br/>
<detail
    [userEmail]="email"
    (myEvent) = "myMethod($event)">

</detail>-->


