Select Hobbies : 
<select [(ngModel)] ="HobbiesMulti" (change)="showHobbies();" multiple>
    <option *ngFor="let hobby of xxxx" >{{hobby}}</option>
</select>
<br>
<hr/>
<!-- Select Hobbies:
<select [(ngModel)]="inarray" multiple>
    <option *ngFor="let xx of xxxx">{{xx}}</option>
</select>
<textarea name="" id="" cols="30" rows="10" [(ngModel)]="inarray"></textarea>-->

<button (click)="gethobb()">Click me</button>

<!--<textarea name="" id="" cols="30" rows="10">{{selectedHobbies}}</textarea>-->
<br/>
Select 2:
<select name="" id="">
    <option *ngFor="let eachHobby of selectedHobbiesarray">{{eachHobby}}</option>
</select>